# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.DS_Store

# Private Prompts
backend/prompts/private/*
!backend/prompts/private/README.md
